<form class="" action="/pizzas/:id/delete" method="POST">

  <label for="id-input">Order Id:</label>
  <input id="id-input" type="number" name="id" value="">

  <input type="submit" name="" value="Delete Pizza">

</form>
